<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Code</title>
    <!-- load jQuery-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- load jQuery Mobile -->
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- load css style -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <!-- load angularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <!-- Main script -->
    <script>
        // Create module.
        var app = angular.module("demoApp", []);

        // Defined controller
        app.controller("Ctr1", function($scope) {
            $scope.selected = 0;
            $scope.Focus = function() {
                // Reference : http://stackoverflow.com/questions/21603985/angularjs-ng-repeat-and-jquery-mobile
                // When use ngRepeat, jquery mobile setting event will remove. When this happen, use angular event to reset the label class.
                $("label[for]").removeClass("ui-radio-on");
                $("label[for]").addClass("ui-radio-off");
                $("label[for='radio-" + $scope.selected + "']").removeClass("ui-radio-off");
                $("label[for='radio-" + $scope.selected + "']").addClass("ui-radio-on");
            };
        });

        // Initial Angular with current document and module is myApp.
        $(document).ready(function() {
            angular.bootstrap( document, ["demoApp"] );
        });
    </script>
</head>
<body ng-controller="Ctr1">
    <div name="panel">
        <div name="group">
            <h1>Group</h1>
            <div ng-repeat="n in [0,1,2,3]">
                <label for="radio-{{$index}}">{{n}}</label>
                <input type="radio" id="radio-{{$index}}" name="radio-choose" ng-model="$parent.selected" ng-value="$index">
            </div>
        </div>
        <h1>Select :  {{selected}}</h1>
        <input type="hidden" value="{{Focus()}}"/>
    </div>
</body>
</html>