<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Code</title>
    <!-- load jQuery-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- load jQuery Mobile -->
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- load css style -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <!-- load angularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <!-- Main script -->
    <script>
        // Create module.
        var app = angular.module("demoApp", []);

        // Defined controller
        app.controller("Ctr1", function($scope) {
            $scope.SelectNumber = function( a_nameID ) {
                // get element
                var btn = $("[name='panel'] > [name='group'] > [name='btn-" + a_nameID + "']");
                // focus
                if(btn.hasClass("ui-btn-b"))
                    btn.removeClass("ui-btn-b");
                else
                    btn.addClass("ui-btn-b");
            };
        });

        // Initial Angular with current document and module is myApp.
        $(document).ready(function() {
            angular.bootstrap( document, ["demoApp"] );
        });
    </script>
</head>
<body ng-controller="Ctr1">
    <div name="panel">
        <div name="group">
            <h1>Group 1</h1>
            <a ng-repeat="n in [0,1,2,3,4]" name="btn-{{n}}" href="#" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" ng-click="SelectNumber(n)">{{n}}</a>
        </div>
    </div>
</body>
</html>