body {
    padding: 20px
}

.ProductTable {
    border:dashed 1px #000000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 25%;
}
.ProductTable th {
    text-align: left;
}

.ProductCategoryRow {
    text-align: left;
    padding-left: 20px;
    background-color: #E4E4E4;
}